{% extends 'base.html' %}
{% block title %} Avangers: Endgame - შურისმაძიებლები: დასასრული {% endblock %}
{% block content %}
    {{ super() }}
    <div class="film-list-border">
        <article>
            <div class="img-src-film-container">
                <img src="static/img/avangers_endgame.jpg">
            </div>
            <div class="imdb-films">
                <div class="imdb-films-font-size">IMDB: 8.4</div>
            </div>
            <div class="films-name">
                შურისმაძიებლები
            </div>
            <div class="description_of_film"><br>აღწერა: “შურისმაძიებლების” საგის მეოთხე დასკვნითი ნაწილი ოცდაორი ურთიერთდაკავშირებული ფილმის კულმინაცია გახდება, რომელიც ამ ეპიკური მოგზაურობის გარდამტეხ მომენტს წარმოგვიდგენს. ჩვენი საყვარელი გმირები აცნობიერებენ, თუ რამდენად მყიფეა ეს რეალობა და ჯერ კიდევ რამხელა მსხვერპლის გაღებაა საჭირო, რათა დაიცვან ის. შურისმაძიებელების და გალაქტიკის მცველების გადარჩენილთა ჯგუფი ძალებს კაპიტან მარველთნ აერთიანებენ, რათა ომის ბოლო ეტაპზე შეერკინონ თანოს, რომელიც ყოვლისშემძლე უსასრულობის ხელთათმანს ფლობს. გმირებს და თანოს შორის გადამწყვეტი ბრძოლა ახლოვდება, რომელიც ერთხელ და სამუდამოდ განსაზღვრავს არა მარტო დედამიწის, არამედ მთელი სამყაროს ბედს…</div>
        </article>
    </div>
<div class="video-player-p">
<iframe style="margin-left: 50px; margin-top: 50px; margin-bottom: 800px" width="700" height="310" src="https://api.adjaranet.com/api/v1/movies/878369276/files/1284784?source=adjaranet" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{% endblock %}