{% extends 'base.html' %}
{% block title %} ჩვენს შესახებ {% endblock %}
{% block content %}
    {{ super() }}
    <div class="contact-name" style="margin-top: 30px">ჩვენს შესახებ</div>
    <div class="contact-text" style="color: #ffffff; font-size: 20px" >Kino არის საიტი სადაც კინემატოგრაფიის ისტორიას ფეხდაფეხ შეგიძლიათ მიჰყვეთ, აქ შეხვდებით როგორც კინოკლასიკას ასევე უახლეს ფილმებს, რაღა თქმა უნდა სასურველ ენაზე. ჩვენ შევეცდებით გამოგზაუროთ მსოფლიო კინოს კულტურებს შორის, აღწერებით და რეცენზიებით შევეცდებით დაგანახოთ ამა თუ იმ კინოსურათის მნიშვნელობა, როდესაც იცი თუ რა მნიშვნელობა აქვს ადმიანის კულტურულ ცხოვრებაში კინემატოგრაფიას, უფრო საინტერესო ხდება ყოველივე ეს. ჩვენ ვიცით, რომ ფილმებში შემთხვევით არაფერი არ ხდება, და ყველაფერს თავისი დატვირთვა აქვს, ფილმის განსაკუთრებულობა მდგომარეობს იმაში, რომ ყოველი ინდივიდის მიერ შესაძლოა სხვადასხვანაირად იქნას აღქმული ერთი და იგივე სურათი, ამიტომ ჩვენებურ ხედვებს გაგიზიარებთ და იმედი გვაქვს რომ თქვენც გახდებით ჩვენი ხედვების მოზიარენი.</div>
{% endblock %}