{% extends 'base.html' %}
{% block title %} ავტორიზაცია {% endblock %}
{% block content %}
    {{ super() }}
    <form method="post" style="text-align: center; margin-left: 350px; margin-right: 350px; margin-top: 50px">
        <h1 style="color: #FFFFFF; text-align: center">Login - ავტორიზაცია</h1>
        <input type="text" style="padding: 10px 30px" name="username" class="form-control mt-4" placeholder="თქვენი სახელი">
        <input type="password" style="padding: 10px 30px" name="password" class="form-control mt-1" placeholder="თქვენი პაროლი">
        <button type="submit" style="padding: 15px 32px; background: #ff4343; color: white;" class="form-control mt-3">შესვლა</button>
        <a href="/რეგისტრაცია" id="Create-account-color" class="form-control mt-3">რეგისტრაცია</a>
    </form>

{% endblock %}