{% extends 'base.html' %}
{% block title %} Shawshenk redemption {% endblock %}
{% block content %}
    {{ super() }}
    <div class="film-list-border">
        <a href="/Shawshenk_redemption">
        <article>
            <div class="img-src-film-container">
                <img src="static/img/Shawshank-redemption.jpg">
            </div>
            <div class="imdb-films">
                <div class="imdb-films-font-size">IMDB: 9.3</div>
            </div>
            <div class="films-name">
                გაქცევა შოუშენკიდან
            </div>
            <div class="description_of_film"><br>აღწერა: მე-20 საუკუნის 40–იანი წლები.წარმატებული ბანკირი ენდი დუფრეინი ახალ ცხოვრებას იწყებს შაუშენკის ციხეში.ის ცოლისა და მისი საყვარლის მკვლელობისათვის იხდის სასჯელს. აქ იგი თავის ცოდნას ციხის ამორალური ზედამხედველისთვის ბუღალტრად მუშაობაში იყენებს. მისი პატიოსნების და გათავისუფლების მუდმივი იმედის გამო ციხეში ხანგრძლივი ყოფნის მანძილზე, დუფრეინს სხვა პატიმრები დაუმეგობრდებიან, მათ შორის ხანდაზმული პატიმარი სახელად რედი.</div>
        </article>
            </a> </div>
<div class="video-player-p">
<iframe style="margin-left: 50px; margin-top: 50px; margin-bottom: 800px" width="700" height="310" src="https://api.adjaranet.com/api/v1/movies/1233/files/812108?source=adjaranet" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{% endblock %}